/*-------------GLOBALES-------------------*/
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*---Particiones---*/
.loginContainer {
  background-color: rgb(151, 27, 27);
  width: 90%;
  margin: 1.5rem auto;
  margin-top: 5rem;
  border-radius: 30px;
}

.loginForm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: hidden;
}

.loginForm img {
  width: 80%;
  max-width: 150px;
  height: auto;
  margin: 1rem auto;
  border-radius: 100px;
}

.loginForm-container {
  margin: 1rem;
  padding-right: 10px;
}

.loginForm-container input {
  width: 100%;
  height: 2.3rem;
  border-radius: 10px;
  font-size: 1rem;
}

.loginForm-container input:focus {
  border: 3px solid rgb(24, 99, 240);
  outline: none;
  -webkit-box-shadow: 0.5px 0px 0.5px rgb(0, 0, 0);
          box-shadow: 0.5px 0px 0.5px rgb(0, 0, 0);
}

.loginForm-container label {
  font-size: 1.7rem;
}

.loginForm-container i {
  position: relative;
  z-index: 100;
  bottom: 2rem;
  left: 92%;
  opacity: 0;
  font-size: 22px;
}

.loginAdv {
  font-size: 1rem;
  color: rgb(255, 0, 0);
  position: relative;
  bottom: 1rem;
  left: 1.5rem;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.loginForm button {
  margin: 1rem auto;
  width: 70%;
  height: 50px;
  border-radius: 15px;
  font-size: 17px;
  position: relative;
  bottom: 2rem;
}

.loginForm button a {
  text-align: center;
  text-decoration: none;
  position: relative;
  top: 2px;
  left: 4.5px;
}

.loginForm a {
  display: block;
  margin: 1rem auto;
  color: black;
  font-size: 1rem;
  text-align: center;
  position: relative;
  bottom: 2rem;
  left: 0.5rem;
}

/*--Validacion login--*/
.loginForm-correcto .loginValidacion {
  color: green;
  opacity: 1;
}

.loginForm-incorrecto .loginValidacion {
  color: red;
  opacity: 1;
}

.loginForm-incorrecto input {
  border: 3px solid red;
}

.loginForm-incorrecto input:focus {
  border: 3px solid red;
}

.loginAdv-activo {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(252, 252, 252);
  width: 100%;
  height: auto;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.navbar .navbarContainer-logo {
  width: 20%;
  height: auto;
  text-align: center;
  margin: 2px;
}
.navbar .navbarContainer-logo img {
  width: 5rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.navbar .navbarContainer-logo img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.navbar .navbarContainer-logo img:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.navbar ion-icon {
  font-size: 2.1rem;
  margin: 20px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.navbar ion-icon:active {
  border: 1px solid rgb(231, 231, 231);
  border-radius: 50px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.navbar ion-icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/*---Menu desplegable---*/
.containerMenu {
  position: fixed;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  width: 50%;
  height: 980px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%); /* oculto fuera de la pantalla */
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  overflow: hidden;
}
.containerMenu ion-icon {
  font-size: 1.5rem;
  position: relative;
  left: 93%;
  bottom: 1.5%;
  cursor: pointer;
}
.containerMenu ion-icon:active {
  border: 2px solid gray;
  border-radius: 20px;
}
.containerMenu ul {
  text-align: center;
  height: 80%;
}
.containerMenu ul li {
  border-bottom: 2px solid rgb(224, 41, 41);
  font-size: 1.2rem;
  margin: 20px;
  padding: 20px;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s ease;
}
.containerMenu ul li a {
  text-decoration: none;
  color: black;
}
.containerMenu ul li:hover {
  background-color: rgb(224, 41, 41);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.containerMenu ul li:active {
  background-color: rgb(224, 41, 41);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.containerMenu .containerMenu-checkboxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
}
.containerMenu .containerMenu-checkboxs div label {
  font-size: 1.2rem;
}

/*-- Muestra el menu--*/
.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

/*--Carrito desplegable--*/
.containerCarrito {
  position: fixed;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  width: 50%;
  height: 980px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(100%);
          transform: translateX(100%); /* oculto fuera de la pantalla */
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  overflow: hidden;
}
.containerCarrito ion-icon {
  font-size: 1.5rem;
  position: relative;
  left: 1%;
  bottom: 48.3%;
  cursor: pointer;
}
.containerCarrito ion-icon:active {
  border: 2px solid gray;
  border-radius: 20px;
}

/*--ACTUALIZACION--*/
section {
  margin: 10px;
}
section p {
  width: 100%;
  font-size: 12px;
}

/*--BUSCADOR--*/
section .buscador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgba(0, 0, 0, 0.1);
  margin: 0 25%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 30px;
}
section .buscador input {
  font-size: 1rem;
  width: 90%;
  padding: 1px;
  border: none;
}
section .buscador input:focus {
  border: none;
  outline: none;
}
section .buscador i {
  font-size: 25px;
  margin: 3%;
}
section .buscador:focus {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

/*--BODY: CARDS PRODUCTOS--*/
.card {
  background-color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  margin: 1.5rem;
  overflow: hidden;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 1, 0.3);
          box-shadow: 0 8px 15px rgba(0, 0, 1, 0.3);
}
.card .cardImg {
  width: 60%;
  margin: 0.5rem 1rem;
}
.card .cardImg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}
.card .cardContent {
  display: block;
  margin: 2px 5px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card .cardContent h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  padding: 0 0 0.5rem 2rem;
}
.card .cardContent h3 {
  font-size: 1.4rem;
  padding: 0 0 2rem 10rem;
}
.card .cardContent p {
  font-size: 2.5rem;
  font-weight: bold;
  color: #070707;
  padding: 0 0 3rem 8rem;
}
.card .cardContent .cardContent-compra {
  width: 40%;
  height: 52px;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  background-color: brown;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 1, 0.1);
          box-shadow: 0 8px 15px rgba(0, 0, 1, 0.1);
  position: relative;
  left: 6rem;
  bottom: 2rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.card .cardContent .cardContent-compra:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: rgba(165, 42, 42, 0.445);
}
.card .cardContent .cardContent-compra:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: rgba(206, 206, 206, 0.13);
}
.card .cardContainer {
  display: block;
  width: 20rem;
  height: 15rem;
  padding: 15px 0 15px;
  overflow: hidden;
  position: relative;
}
.card .cardContainer .cardContainer-cantidad {
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 1, 0.2);
          box-shadow: 0 8px 15px rgba(0, 0, 1, 0.2);
  background-color: aliceblue;
  border-radius: 18px;
  border: 1px solid gray;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: 5rem;
  margin: 0 1rem;
}
.card .cardContainer .cardContainer-cantidad button {
  z-index: 1;
  width: 25%;
  height: 32px;
  background-color: brown;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
}
.card .cardContainer .cardContainer-cantidad span {
  font-size: 1rem;
}
.card .cardContainer .cardContainer-stock {
  font-size: 15px;
  position: absolute;
  top: 15rem;
  left: 4rem;
}