/*-------------GLOBALES-------------------*/
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*---Particiones---*/
.containerResumenTitulo {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

.containerResumenEntrega p {
  font-size: 1.5rem;
  margin: 1rem 6rem;
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  border: 1px solid gray;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 1, 0.2);
          box-shadow: 0 8px 15px rgba(0, 0, 1, 0.2);
}

.containerResumenCarrito {
  width: 90%;
  height: 85%;
  overflow: scroll;
  overflow-x: hidden;
  margin: 1rem 3rem;
  text-align: center;
}
.containerResumenCarrito .containerResumenCarrito-cards {
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 1, 0.3);
          box-shadow: 0 8px 15px rgba(0, 0, 1, 0.3);
  border: 1px gray;
  width: 95%;
  height: auto;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 10px;
  padding: 10px;
}
.containerResumenCarrito .containerResumenCarrito-cards .containerResumenCarrito-cards-content-img {
  width: 15%;
  height: auto;
  margin: 0 1rem;
}
.containerResumenCarrito .containerResumenCarrito-cards .containerResumenCarrito-cards-content-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}
.containerResumenCarrito .containerResumenCarrito-cards .containerResumenCarrito-cards-content-names {
  display: block;
  padding-right: 60px;
  max-width: 50%;
  width: 40%;
}
.containerResumenCarrito .containerResumenCarrito-cards .containerResumenCarrito-cards-content-names h2 {
  font-size: 1.5rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}
.containerResumenCarrito .containerResumenCarrito-cards .containerResumenCarrito-cards-content-names h4 {
  font-size: 1.2rem;
  margin: 0.5rem 5rem;
  visibility: visible;
  overflow: hidden;
  white-space: nowrap;
}
.containerResumenCarrito .containerResumenCarrito-cards .containerResumenCarrito-cards-content-names p {
  font-size: 1.5rem;
  margin: 0.8rem 0rem;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
}
.containerResumenCarrito .containerResumenCarrito-cards .containerResumenCarrito-cards-content-names .containerCantidad {
  position: relative;
  bottom: 0.4rem;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 1, 0.2);
          box-shadow: 0 8px 15px rgba(0, 0, 1, 0.2);
  background-color: aliceblue;
  border-radius: 18px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.5rem 6rem;
  padding: auto;
  min-width: 100px;
  max-width: 150px;
}
.containerResumenCarrito .containerResumenCarrito-cards .containerResumenCarrito-cards-content-names .containerCantidad button {
  z-index: 1;
  width: 32px;
  height: 32px;
  background-color: brown;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  -webkit-transition: -webkit-transform 2s ease, -webkit-box-shadow 0.1s ease;
  transition: -webkit-transform 2s ease, -webkit-box-shadow 0.1s ease;
  transition: transform 2s ease, box-shadow 0.1s ease;
  transition: transform 2s ease, box-shadow 0.1s ease, -webkit-transform 2s ease, -webkit-box-shadow 0.1s ease;
}
.containerResumenCarrito .containerResumenCarrito-cards .containerResumenCarrito-cards-content-names .containerCantidad span {
  font-size: 1rem;
}
.containerResumenCarrito .containerResumenCarrito-cards .containerResumenCarrito-cards-content-icons {
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.containerResumenCarrito .containerResumenCarrito-cards .containerResumenCarrito-cards-content-icons ion-icon {
  font-size: 2.5rem;
  color: red;
  padding-top: 25px;
}
.containerResumenCarrito .containerResumenCarrito-cards .containerResumenCarrito-cards-content-icons-checkbox {
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.containerResumenTotalVenta {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  padding: 20px;
  text-align: center;
  -webkit-box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}
.containerResumenTotalVenta p {
  font-size: 1.5rem;
  font-weight: bold;
}

.containerResumenBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.containerResumenBtns .btnFinalizar {
  padding: 15px;
  width: 30%;
  background-color: brown;
  border: 2px solid brown;
  font-size: 1.1rem;
  border-radius: 8px;
  margin: 1rem 9rem;
  color: white;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.containerResumenBtns .btnFinalizar:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: brown;
}
.containerResumenBtns .btnFinalizar:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: rgba(206, 206, 206, 0.13);
}
.containerResumenBtns .prevStepResumen {
  padding: 15px;
  width: 30%;
  background-color: green;
  border: 2px solid green;
  font-size: 1.1rem;
  border-radius: 8px;
  margin: 1rem 9rem;
  color: white;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.containerResumenBtns .prevStepResumen:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #4CAF50;
}
.containerResumenBtns .prevStepResumen:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: rgba(206, 206, 206, 0.13);
}

/*--PROGRESS LINE--*/
.containerProgress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  margin: 1.5rem 5rem;
  padding: 10px;
}
.containerProgress .step {
  background-color: grey;
  padding: 10px;
  border-radius: 500px;
}
.containerProgress .step ion-icon,
.containerProgress .step i {
  font-size: 1.7rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.containerProgress .progressLine {
  background-color: black;
  height: 3px;
  width: 10%;
}

/*--ESTILOS DEL PROGRESO--*/
.step.completed {
  background-color: green;
}

.step.active {
  border: 3px solid brown;
}

.progressLine.completed {
  background-color: green;
}

/*--FORMULARIO ENTREGA--*/
.entregaContainer {
  width: 95%;
  height: 50rem;
  overflow: hidden;
}
.entregaContainer .entregaContainer-form {
  background-color: rgb(251, 253, 253);
  width: 95%;
  height: 95%;
  margin: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.entregaContainer .entregaContainer-form .entregaContainer-form-inputs {
  margin: 50px 1px;
  padding: 5px;
  border-bottom: 1px solid gray;
  overflow: hidden;
}
.entregaContainer .entregaContainer-form .entregaContainer-form-inputs label {
  font-size: 1.5rem;
  margin: 0 4px;
  position: relative;
  bottom: 5%;
}
.entregaContainer .entregaContainer-form .entregaContainer-form-inputs input {
  font-size: 1.1rem;
  width: 93.5%;
  padding: 15px;
  border-radius: 0px;
  margin: 0 4px 0 4px;
}
.entregaContainer .entregaContainer-form .entregaContainer-form-inputs input:focus {
  border: 3px solid rgb(24, 99, 240);
  outline: none;
  -webkit-box-shadow: 0.5px 0px 0.5px rgb(0, 0, 0);
          box-shadow: 0.5px 0px 0.5px rgb(0, 0, 0);
}
.entregaContainer .entregaContainer-form .entregaContainer-form-inputs input:active {
  border: 3px solid rgb(24, 99, 240);
  outline: none;
  -webkit-box-shadow: 0.5px 0px 0.5px rgb(0, 0, 0);
          box-shadow: 0.5px 0px 0.5px rgb(0, 0, 0);
}
.entregaContainer .entregaContainer-form .entregaContainer-form-inputs .entregasAdv {
  font-size: 1rem;
  color: red;
  text-align: center;
  position: relative;
  bottom: 0rem;
  opacity: 0;
}
.entregaContainer .entregaContainer-form .entregaContainer-form-inputs i {
  position: relative;
  right: 3rem;
  bottom: -0.2rem;
  font-size: 1.4rem;
  color: red;
  opacity: 0;
}
.entregaContainer .entregaContainer-form .entregaContainer-form-inputs .clienteContainer {
  margin: 12px 1px;
  padding: 5px;
}
.entregaContainer .entregaContainer-form .entregaContainer-form-inputs .clienteContainer .selectBox {
  width: 100%;
  padding: 15px;
  border: none;
  font-size: 1rem;
  background-color: rgb(230, 229, 229);
}
.entregaContainer .entregaContainer-form .entregaContainer-form-inputs .clienteContainer .selectBox:focus {
  border: 3px solid rgb(24, 99, 240);
  outline: none;
  -webkit-box-shadow: 0.5px 0px 0.5px rgb(0, 0, 0);
          box-shadow: 0.5px 0px 0.5px rgb(0, 0, 0);
}
.entregaContainer .entregaContainer-form .entregaContainer-form-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.entregaContainer .entregaContainer-form .entregaContainer-form-buttons .nextStep {
  width: 15%;
  padding: 15px;
  border: none;
  background-color: brown;
  color: white;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  border-radius: 8px;
}
.entregaContainer .entregaContainer-form .entregaContainer-form-buttons .nextStep:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #4CAF50;
}
.entregaContainer .entregaContainer-form .entregaContainer-form-buttons .nextStep:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: rgba(206, 206, 206, 0.13);
}
.entregaContainer .entregaContainer-form .prevStep {
  width: 15%;
  padding: 15px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 8px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.entregaContainer .entregaContainer-form .prevStep:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #4CAF50;
}
.entregaContainer .entregaContainer-form .prevStep:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: rgba(206, 206, 206, 0.13);
}

/*--VALIDACION FORM--*/
.loginContainer {
  background-color: rgb(151, 27, 27);
  width: 90%;
  margin: 1.5rem auto;
  margin-top: 5rem;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 1, 0.3);
          box-shadow: 0 8px 15px rgba(0, 0, 1, 0.3);
}

.loginForm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: hidden;
}

.loginForm img {
  width: 80%;
  max-width: 150px;
  height: auto;
  margin: 1rem auto;
  border-radius: 100px;
}

.loginForm-container {
  margin: 1rem;
  padding-right: 10px;
}

.loginForm-container input {
  width: 100%;
  height: 2.3rem;
  border-radius: 10px;
  font-size: 1rem;
  border: none;
}

.loginForm-container input:focus {
  border: 3px solid rgb(24, 99, 240);
  outline: none;
  -webkit-box-shadow: 0.5px 0px 0.5px rgb(0, 0, 0);
          box-shadow: 0.5px 0px 0.5px rgb(0, 0, 0);
}

.loginForm-container label {
  font-size: 1.7rem;
}

.loginForm-container i {
  position: relative;
  z-index: 100;
  bottom: 2rem;
  left: 92%;
  opacity: 0;
  font-size: 22px;
}

.loginAdv {
  font-size: 1rem;
  color: rgb(255, 0, 0);
  position: relative;
  bottom: 1rem;
  left: 1.5rem;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.loginForm button {
  margin: 1rem auto;
  width: 70%;
  height: 50px;
  border-radius: 15px;
  font-size: 17px;
  position: relative;
  bottom: 2rem;
  overflow: hidden;
  border: none;
}

.loginForm button a {
  text-align: center;
  text-decoration: none;
  position: relative;
  top: 2px;
  left: 4.5px;
}

.loginForm a {
  display: block;
  margin: 1rem auto;
  color: black;
  font-size: 1rem;
  text-align: center;
  position: relative;
  bottom: 2rem;
  left: 0.5rem;
}

/*--Validacion login--*/
.loginForm-correcto .loginValidacion {
  color: green;
  opacity: 1;
}

.loginForm-incorrecto .loginValidacion {
  color: red;
  opacity: 1;
}

.loginForm-incorrecto input {
  border: 3px solid red;
}

.loginForm-incorrecto input:focus {
  border: 3px solid red;
}

.loginAdv-activo {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.navbar {
  position: fixed;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(252, 252, 252);
  width: 100%;
  height: auto;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.navbar .navbarContainer-logo {
  width: 20%;
  height: auto;
  text-align: center;
  margin: 2px;
}
.navbar .navbarContainer-logo img {
  width: 5rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.navbar .navbarContainer-logo img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.navbar .navbarContainer-logo img:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.navbar ion-icon {
  font-size: 2.1rem;
  margin: 20px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.navbar ion-icon:active {
  border: 1px solid rgb(231, 231, 231);
  border-radius: 50px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.navbar ion-icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.navbar .contador {
  position: absolute;
  top: 24px;
  right: 16px;
  background-color: red;
  color: white;
  font-size: 0.8rem;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

/*--CONTADOR VISIBILIDAD--*/
.oculto {
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.visible {
  visibility: visible;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

/*---Menu desplegable---*/
.containerMenu {
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: rgb(255, 255, 255);
  width: 50%;
  height: 100%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  /* oculto fuera de la pantalla */
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  overflow: hidden;
}
.containerMenu ion-icon {
  font-size: 1.5rem;
  position: relative;
  left: 94%;
  bottom: 1%;
  cursor: pointer;
}
.containerMenu ion-icon:active {
  border: 2px solid gray;
  border-radius: 20px;
}
.containerMenu ul {
  text-align: center;
}
.containerMenu ul li {
  border-bottom: 2px solid rgb(224, 41, 41);
  font-size: 1.2rem;
  margin: 15px;
  padding: 20px;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s ease;
}
.containerMenu ul li a {
  text-decoration: none;
  color: black;
}
.containerMenu ul li:hover {
  background-color: rgb(224, 41, 41);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.containerMenu ul li:active {
  background-color: rgb(224, 41, 41);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.containerMenu .containerMenu-checkboxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
  padding: 10px;
}
.containerMenu .containerMenu-checkboxs div label {
  font-size: 1.2rem;
}

/*-- Muestra el menu--*/
.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

/*--Carrito desplegable--*/
.containerCarrito {
  top: 0;
  position: fixed;
  z-index: 999;
  background-color: rgb(255, 255, 255);
  width: 50%;
  height: 100%;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  /* oculto fuera de la pantalla */
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  overflow: hidden;
  /*--CARDS EN CARRITO--*/
}
.containerCarrito ion-icon {
  font-size: 1.5rem;
  position: relative;
  top: 9%;
  cursor: pointer;
}
.containerCarrito ion-icon:active {
  border: 2px solid gray;
  border-radius: 20px;
}
.containerCarrito h2 {
  font-size: 1.8rem;
  margin-top: 4rem;
  padding: 10px 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  left: 30%;
}
.containerCarrito #textCarritoVacio {
  font-size: 1.8rem;
  position: absolute;
  bottom: 50%;
  left: 28%;
  color: gray;
}
.containerCarrito .containerCarritoBoton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: brown;
  position: fixed;
  bottom: 0;
  padding: 2rem;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 998;
}
.containerCarrito .containerCarritoBoton button {
  position: relative;
  right: 5%;
  width: 50%;
  padding: 10px;
  font-size: 1rem;
  background-color: white;
  border: none;
}
.containerCarrito .containerCarritoBoton button a {
  text-decoration: none;
  color: black;
}
.containerCarrito .containerCarritoCards {
  width: 100%;
  height: 85%;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-margin-after: 6.5rem;
          margin-block-end: 6.5rem;
}
.containerCarrito .containerCarritoCards .containerCarritoCards-content {
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 1, 0.3);
          box-shadow: 0 8px 15px rgba(0, 0, 1, 0.3);
  border: 1px gray;
  width: 95%;
  height: auto;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 10px;
  padding: 10px;
}
.containerCarrito .containerCarritoCards .containerCarritoCards-content .containerCarritoCards-content-img {
  width: 15%;
  height: auto;
}
.containerCarrito .containerCarritoCards .containerCarritoCards-content .containerCarritoCards-content-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}
.containerCarrito .containerCarritoCards .containerCarritoCards-content .containerCarritoCards-content-names {
  display: block;
  padding-right: 60px;
  max-width: 50%;
}
.containerCarrito .containerCarritoCards .containerCarritoCards-content .containerCarritoCards-content-names h2 {
  font-size: 1.2rem;
  text-align: left;
  margin: 0;
  padding: 0.5rem 0 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.containerCarrito .containerCarritoCards .containerCarritoCards-content .containerCarritoCards-content-names .h4 {
  font-size: 1.1rem;
  text-align: left;
  visibility: visible;
  padding: 0.5rem 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.containerCarrito .containerCarritoCards .containerCarritoCards-content .containerCarritoCards-content-names p {
  font-size: 1.2rem;
  text-align: left;
  padding: 0.5rem 4rem 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.containerCarrito .containerCarritoCards .containerCarritoCards-content .containerCarritoCards-content-names .containerCantidad {
  position: relative;
  bottom: 0.4rem;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 1, 0.2);
          box-shadow: 0 8px 15px rgba(0, 0, 1, 0.2);
  background-color: aliceblue;
  border-radius: 18px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 5rem;
  padding: auto;
  min-width: 50%;
  max-width: 50%;
}
.containerCarrito .containerCarritoCards .containerCarritoCards-content .containerCarritoCards-content-names .containerCantidad button {
  z-index: 1;
  width: 30%;
  height: 32px;
  background-color: brown;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  -webkit-transition: -webkit-transform 2s ease, -webkit-box-shadow 0.1s ease;
  transition: -webkit-transform 2s ease, -webkit-box-shadow 0.1s ease;
  transition: transform 2s ease, box-shadow 0.1s ease;
  transition: transform 2s ease, box-shadow 0.1s ease, -webkit-transform 2s ease, -webkit-box-shadow 0.1s ease;
}
.containerCarrito .containerCarritoCards .containerCarritoCards-content .containerCarritoCards-content-names .containerCantidad span {
  font-size: 1rem;
}
.containerCarrito .containerCarritoCards .containerCarritoCards-content .containerCarritoCards-content-icons {
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.containerCarrito .containerCarritoCards .containerCarritoCards-content .containerCarritoCards-content-icons ion-icon {
  font-size: 2.5rem;
  color: red;
  padding-top: 25px;
}
.containerCarrito .containerCarritoCards .containerCarritoCards-content .containerCarritoCards-content-icons .containerCarritoCards-content-icons-checkbox {
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.showCarrito {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

main {
  margin-top: 80px;
}

/*--ACTUALIZACION--*/
section {
  margin: 10px;
}
section p {
  width: 100%;
  font-size: 12px;
}

/*--BUSCADOR--*/
section .buscador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgba(0, 0, 0, 0.1);
  margin: 0 25%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 30px;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
section .buscador input {
  font-size: 1rem;
  width: 90%;
  padding: 1px;
  border: none;
}
section .buscador input:focus {
  border: none;
  outline: none;
}
section .buscador i {
  font-size: 25px;
  margin: 3%;
}
section .buscador:focus {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

/*--BODY: CARDS PRODUCTOS--*/
.card {
  background-color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  margin: 1.5rem;
  overflow: hidden;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 1, 0.3);
          box-shadow: 0 8px 15px rgba(0, 0, 1, 0.3);
}
.card .cardImg {
  width: 45%;
  margin: 0.5rem 1rem;
  overflow: hidden;
}
.card .cardImg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}
.card .cardImg span {
  position: absolute;
  left: 86%;
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
}
.card .cardContent {
  display: block;
  margin: 2px 2px;
  width: 100%;
  text-align: center;
}
.card .cardContent h2 {
  font-size: 1.9rem;
  font-weight: bold;
  color: #333;
  margin: 1rem 1rem;
}
.card .cardContent h3 {
  font-size: 1.2rem;
  margin: 1rem 0;
}
.card .cardContent p {
  font-size: 2.5rem;
  font-weight: bold;
  color: #070707;
}
.card .cardContent p small {
  font-size: 0.5rem;
  margin: 0;
}
.card .cardContent p span {
  font-size: 1.2rem;
  margin: 0;
}
.card .cardContent .cardContent-btns {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
}
.card .cardContent .cardContent-btns button {
  width: 20%;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  background-color: brown;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 1, 0.1);
          box-shadow: 0 8px 15px rgba(0, 0, 1, 0.1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  color: white;
}
.card .cardContent .cardContent-btns button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: rgba(165, 42, 42, 0.445);
}
.card .cardContent .cardContent-btns button:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: rgba(206, 206, 206, 0.13);
}
.card .cardContent .cardContent-btns .cardContent-btn-opciones {
  margin: 0 1rem;
  width: 20%;
  padding: 10px;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}
.card .cardContainer {
  display: block;
  width: 20rem;
  height: 15rem;
  padding: 15px 0 15px;
  overflow: hidden;
  position: relative;
}
.card .cardContainer .containerCantidad {
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 1, 0.2);
          box-shadow: 0 8px 15px rgba(0, 0, 1, 0.2);
  background-color: aliceblue;
  border-radius: 18px;
  border: 1px solid gray;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: 5rem;
  margin: 0 1rem;
}
.card .cardContainer .containerCantidad button {
  z-index: 1;
  width: 25%;
  height: 32px;
  background-color: brown;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
}
.card .cardContainer .containerCantidad span {
  font-size: 1rem;
}