/*-------------GLOBALES-------------------*/
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*---Particiones---*/
.loginContainer {
  background-color: rgb(151, 27, 27);
  width: 90%;
  margin: 1.5rem auto;
  margin-top: 5rem;
  border-radius: 30px;
}

.loginForm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: hidden;
}

.loginForm img {
  width: 80%;
  max-width: 150px;
  height: auto;
  margin: 1rem auto;
  border-radius: 100px;
}

.loginForm-container {
  margin: 1rem;
  padding-right: 10px;
}

.loginForm-container input {
  width: 100%;
  height: 2.3rem;
  border-radius: 10px;
  font-size: 1rem;
}

.loginForm-container input:focus {
  border: 3px solid rgb(24, 99, 240);
  outline: none;
  -webkit-box-shadow: 0.5px 0px 0.5px rgb(0, 0, 0);
          box-shadow: 0.5px 0px 0.5px rgb(0, 0, 0);
}

.loginForm-container label {
  font-size: 1.7rem;
}

.loginForm-container i {
  position: relative;
  z-index: 100;
  bottom: 2rem;
  left: 92%;
  opacity: 0;
  font-size: 22px;
}

.loginAdv {
  font-size: 1rem;
  color: rgb(255, 0, 0);
  position: relative;
  bottom: 1rem;
  left: 1.5rem;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.loginForm button {
  margin: 1rem auto;
  width: 70%;
  height: 50px;
  border-radius: 15px;
  font-size: 17px;
  position: relative;
  bottom: 2rem;
}

.loginForm a {
  display: block;
  margin: 1rem auto;
  color: black;
  font-size: 1rem;
  text-align: center;
  position: relative;
  bottom: 2rem;
  left: 0.5rem;
}

/*--Validacion login--*/
.loginForm-correcto .loginValidacion {
  color: green;
  opacity: 1;
}

.loginForm-incorrecto .loginValidacion {
  color: red;
  opacity: 1;
}

.loginForm-incorrecto input {
  border: 3px solid red;
}

.loginForm-incorrecto input:focus {
  border: 3px solid red;
}

.loginAdv-activo {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}