/*--PROGRESS LINE--*/
.containerProgress {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 1.5rem 5rem;
    padding: 10px;

    .step {
        background-color: grey;
        padding: 10px;
        border-radius: 500px;

        ion-icon,
        i {
            font-size: 1.7rem;
            object-fit: cover;
        }
    }

    .progressLine {
        background-color: black;
        height: 3px;
        width: 10%;
    }
}

/*--ESTILOS DEL PROGRESO--*/
.step.completed {
    background-color: green;
}
.step.active{
    border: 3px solid brown;
}

.progressLine.completed{
    background-color: green;
}



/*--FORMULARIO ENTREGA--*/
.entregaContainer {
    overflow: hidden;

    .entregaContainer-form {
        background-color: rgb(251, 253, 253);
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin: 0 5px 0 5px;
        .entregaContainer-form-inputs {
            margin: 25px 1px;
            padding: 2px;
            border-bottom: 1px solid gray;
            overflow: hidden;
            .inputsTypeText{
                text-align: start;
                margin: 12px 1px;
                padding: 5px;

                label {
                font-size: 1.5rem;
                position: relative;
                bottom: 5%;
                }

            input {
                font-size: 1.1rem;
                width: 97%;
                padding: 10px;
                border-radius: 0px;
                border-style: none;
                outline: 2px solid gray;

                &:focus {
                    outline: 3px solid rgb(24, 99, 240);
                    box-shadow: 0.5px 0px 0.5px rgb(0, 0, 0);
                }

                &:active {
                    outline: 3px solid rgb(24, 99, 240);
                    box-shadow: 0.5px 0px 0.5px rgb(0, 0, 0);
                }
            }

            }
            

            .clienteContainer {
                margin: 12px 1px;
                padding: 5px;

                .selectBox {
                    width: 100%;
                    padding: 15px;
                    border: none;
                    font-size: 1rem;
                    background-color: rgb(230, 229, 229);

                    &:focus {
                        outline: 3px solid rgb(24, 99, 240);
                        box-shadow: 0.5px 0px 0.5px rgb(0, 0, 0);
                    }
                }
            }
            .lugarEntregaContainer{
                padding: 5px;
                margin: 12px 1px;
                .selectBoxEntrega{
                    width: 100%;
                    padding: 15px;
                    border: none;
                    font-size: 1rem;
                    background-color: rgb(230, 229, 229);
                    &:focus {
                        outline: 3px solid rgb(24, 99, 240);
                        box-shadow: 0.5px 0px 0.5px rgb(0, 0, 0);
                    }
                }

            }
        }

        .entregaContainer-form-buttons {
            display: flex;
            justify-content: space-around;
            overflow: hidden;

            .nextStep {
                width: 15rem;
                padding: 15px;
                border: none;
                background-color: brown;
                color: white;
                transition: transform 0.3s ease;
                border-radius: 8px;

                &:hover {
                    transform: scale(1.1);
                    background-color: #4CAF50;
                }

                &:active {
                    transform: scale(1.1);
                    background-color: rgba(206, 206, 206, 0.13);
                }
            }
        }
    }
}

/*--MEDIA QUERY: CELULAR--*/
@media screen and (max-width: 650px){
    .entregaContainer .entregaContainer-form .entregaContainer-form-inputs .inputsTypeText input {
        width: 94%;
    }
}
