/*--PROGRESS LINE--*/
.containerProgress {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 1.5rem 5rem;
    padding: 10px;

    .step {
        background-color: grey;
        padding: 10px;
        border-radius: 500px;

        ion-icon,
        i {
            font-size: 1.7rem;
            object-fit: cover;
        }
    }

    .progressLine {
        background-color: black;
        height: 3px;
        width: 10%;
    }
}

/*--ESTILOS DEL PROGRESO--*/
.step.completed {
    background-color: green;
}
.step.active{
    border: 3px solid brown;
}

.progressLine.completed{
    background-color: green;
}



/*--FORMULARIO ENTREGA--*/
.entregaContainer {
    width: 95%;
    height: 50rem;
    overflow: hidden;

    .entregaContainer-form {
        background-color: rgb(251, 253, 253);
        width: 95%;
        height: 95%;
        margin: 1rem 2rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .entregaContainer-form-inputs {
            margin: 50px 1px;
            padding: 5px;
            border-bottom: 1px solid gray;
            overflow: hidden;

            label {
                font-size: 1.5rem;
                margin: 0 4px;
                position: relative;
                bottom: 5%;
            }

            input {
                font-size: 1.1rem;
                width: 93.5%;
                padding: 15px;
                border-radius: 0px;
                margin: 0 4px 0 4px;

                &:focus {
                    border: 3px solid rgb(24, 99, 240);
                    outline: none;
                    box-shadow: 0.5px 0px 0.5px rgb(0, 0, 0);
                }

                &:active {
                    border: 3px solid rgb(24, 99, 240);
                    outline: none;
                    box-shadow: 0.5px 0px 0.5px rgb(0, 0, 0);
                }
            }

            .entregasAdv {
                font-size: 1rem;
                color: red;
                text-align: center;
                position: relative;
                bottom: 0rem;
                opacity: 0;
            }

            i {
                position: relative;
                right: 3rem;
                bottom: -.2rem;
                font-size: 1.4rem;
                color: red;
                opacity: 0;
            }

            .clienteContainer {
                margin: 12px 1px;
                padding: 5px;

                .selectBox {
                    width: 100%;
                    padding: 15px;
                    border: none;
                    font-size: 1rem;
                    background-color: rgb(230, 229, 229);

                    &:focus {
                        border: 3px solid rgb(24, 99, 240);
                        outline: none;
                        box-shadow: 0.5px 0px 0.5px rgb(0, 0, 0);
                    }
                }
            }
        }

        .entregaContainer-form-buttons {
            display: flex;
            justify-content: space-around;
            overflow: hidden;

            .nextStep {
                width: 15%;
                padding: 15px;
                border: none;
                background-color: brown;
                color: white;
                transition: transform 0.3s ease;
                border-radius: 8px;

                &:hover {
                    transform: scale(1.1);
                    background-color: #4CAF50;
                }

                &:active {
                    transform: scale(1.1);
                    background-color: rgba(206, 206, 206, 0.13);
                }
            }
        }
        .prevStep {
            width: 15%;
            padding: 15px;
            border: none;
            background-color: #4CAF50;
            color: white;
            border-radius: 8px;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1);
                background-color: #4CAF50;
            }

            &:active {
                transform: scale(1.1);
                background-color: rgba(206, 206, 206, 0.13);
            }


        }
    }
}

/*--VALIDACION FORM--*/