/*--Trabajo resolucion de 320 x 768 LOGIN--*/
.sesionContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 47rem;
    width: 100%;
}
.formContainer{
    position: relative;
    display: flex;
    background-color: brown;
    margin: 1rem;
    width: 90%;
    max-width: 400px;
    min-width: 350px;
    padding-bottom: 20rem;
    padding-top: 20rem;
    border-radius: 20px;
}
.welcomeContainer{
    position: relative;
    width: 60%;
    bottom: 15rem;
    left: 5rem;
}
.welcomeContainer img{
    width: 100%;
    position: relative;
    border-radius: 150px;
    max-width: 400px;

}
.emailContainer{
    position: relative;
    bottom: 7rem;
    margin: 5px;
}
.emailContainer input {
    display: block;
    position: relative;
    bottom: 1rem;
    width: 330px;
    left: 0.1rem;
    margin: 0.5rem auto;
    height: 42px;
    padding-top: 5px 20px;
    border: 3px solid transparent;
    border-radius: 15px;
    font-size: 1rem;
}
.emailContainer input:focus{
    border: 3px solid rgb(24, 99, 240);
    outline: none;
    box-shadow: 0.5px 0px 0.5px rgb(0, 0, 0);
}
.emailContainer label{
    position: absolute;
    bottom: 5rem;
    left: 2rem;
    font-size: 1.7rem;
}
.loginValidacion{
    position: absolute;
    margin: 0;
    font-size: 1.4rem;
    left:20.8rem;
    bottom: 1.8rem;
    z-index: 100;
    opacity:0;
}

.passwordContainer{
    position: relative;
    bottom: 2rem;
    margin: 5px;
}
.passwordContainer input{
    display: block;
    position: relative;
    bottom: 1rem;
    width: 330px;
    left: 0.1rem;
    margin: 0.5rem auto;
    height: 42px;
    padding-top: 5px 20px;
    border: 3px solid transparent;
    border-radius: 15px;
    font-size: 1rem;
    transition: .3s ease all;
}
.passwordContainer input:focus{
    border: 3px solid rgb(24, 99, 240);
    outline: none;
    box-shadow: 0.5px 0px 0.5px rgb(0, 0, 0);

}
.passwordContainer label{
    position: absolute;
    bottom: 5rem;
    left: 2rem;
    font-size: 1.7rem;
}

.loginAdv{
    margin: 0;
    font-size: 14px;
    color: red;
    position: absolute;
    left: 3rem;
    bottom: -0.5rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.loginAdv-activo{
    margin: 0;
    font-size: 14px;
    color: red;
    position: absolute;
    left: 3rem;
    bottom: -0.5rem;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.formContainer button{
    width: 65%;
    height: 60px;
    position: relative;
    top: 0.5em;
    left: 4.2rem;
    border-style: dashed;
    border-radius: 15px;
    font-size: 17px;
}
.forgetContainer{
    position: relative;
    left: 9rem;
    bottom: -3rem;
    font-size: 15px;
}
/*--Validacion login--*/
.loginForm-correcto .loginValidacion{
    color: green;
    opacity: 1;
}
.loginForm-incorrecto .loginValidacion{
    color: red;
    opacity: 1;
}
.loginForm-incorrecto input{
    border: 3px solid red;
}

.loginForm-incorrecto input:focus {
    border: 3px solid red;
}