.navbar {
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(252, 252, 252);
    width: 100%;
    height: auto;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);

    .navbarContainer-logo {
        width: 20%;
        height: auto;
        text-align: center;
        margin: 2px;

        img {
            width: 5rem;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }

            &:active {
                transform: scale(1.1);
            }
        }
    }

    ion-icon {
        font-size: 2.1rem;
        margin: 20px;
        transition: transform 0.3s ease;

        &:active {
            border: 1px solid rgb(231, 231, 231);
            border-radius: 50px;
            transform: scale(1.2);
        }

        &:hover {
            transform: scale(1.2);
        }
    }

    .contador {
        position: absolute;
        top: 24px;
        right: 16px;
        background-color: red;
        color: white;
        font-size: 0.8rem;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
}

/*--CONTADOR VISIBILIDAD--*/
.oculto{
    visibility: hidden;
    transition: opacity 0.3s ease;
}
.visible{
    visibility: visible;
    transition: opacity 0.3s ease;
}
/*---Menu desplegable---*/
.containerMenu {
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    /* oculto fuera de la pantalla */
    transition: transform 0.5s ease;
    overflow: hidden;

    ion-icon {
        font-size: 1.5rem;
        position: relative;
        left: 94%;
        bottom: 1%;
        cursor: pointer;

        &:active {
            border: 2px solid gray;
            border-radius: 20px;
        }
    }

    ul {
        text-align: center;

        li {
            border-bottom: 2px solid rgb(224, 41, 41);
            font-size: 1.2rem;
            margin: 15px;
            padding: 20px;
            transition: transform 0.3s ease, background-color 0.3s ease;

            a {
                text-decoration: none;
                color: black;
            }

            &:hover {
                background-color: rgb(224, 41, 41);
                transform: scale(1.2);
            }

            &:active {
                background-color: rgb(224, 41, 41);
                transform: scale(1.2);
            }
        }

    }

    .containerMenu-checkboxs {
        display: flex;
        justify-content: space-between;
        margin: 1rem;
        padding: 10px;

        div {
            label {
                font-size: 1.2rem;
            }
        }
    }
}

/*-- Muestra el menu--*/
.show {
    transform: translateX(0);
}

/*--Carrito desplegable--*/
.containerCarrito {
    top: 0;
    position: fixed;
    z-index: 999;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    /* oculto fuera de la pantalla */
    transition: transform 0.5s ease;
    overflow: hidden;

    ion-icon {
        font-size: 1.5rem;
        position: relative;
        top: 9%;
        cursor: pointer;

        &:active {
            border: 2px solid gray;
            border-radius: 20px;
        }
    }

    h2 {
        font-size: 1.8rem;
        margin-top: 4rem;
        padding: 10px 5px;
        height: fit-content;
        position: relative;
        left: 30%;
    }

    #textCarritoVacio {
        font-size: 1.8rem;
        position: absolute;
        bottom: 50%;
        left: 28%;
        color: gray;
    }

    .containerCarritoBoton {
        display: flex;
        background-color: brown;
        position: fixed;
        bottom: 0;
        padding: 2rem;
        width: 100%;
        justify-content: center;
        z-index: 998;

        button {
            position: relative;
            right: 5%;
            width: 50%;
            padding: 10px;
            font-size: 1rem;
            background-color: white;
            border: none;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }

    /*--CARDS EN CARRITO--*/
    .containerCarritoCards {
        width: 100%;
        height: 85%;
        overflow: scroll;
        overflow-x: hidden;
        margin-block-end: 6.5rem;

        .containerCarritoCards-content {
            background-color: rgb(255, 255, 255);
            box-shadow: 0 8px 15px rgba(0, 0, 1, 0.3);
            border: 1px gray;
            width: 95%;
            height: auto;
            min-height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 5px 10px;
            padding: 10px;
            .containerCarritoCards-content-img {
                width: 15%;
                height: auto;

                img {
                    width: 100%;
                    object-fit: cover;
                    height: auto;
                }
            }

            .containerCarritoCards-content-names {
                display: block;
                padding-right: 60px;
                max-width: 50%;

                h2 {
                    font-size: 1.2rem;
                    text-align: left;
                    margin: 0;
                    padding: 0.5rem 0 0 0 ;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }

                .h4 {
                    font-size: 1.1rem;
                    text-align: left;
                    visibility: visible;
                    padding: 0.5rem 0;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;

                }
                p{
                    font-size: 1.2rem;
                    text-align: left;
                    padding: 0.5rem 4rem 1rem;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;

                }
                .containerCantidad{
                    position: relative;
                    bottom: .4rem;
                    box-shadow: 0 8px 15px rgba(0, 0, 1, 0.2);
                    background-color: aliceblue;
                    border-radius: 18px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0 5rem;
                    padding: auto;
                    min-width: 50%;
                    max-width: 50%;
                    button{
                        z-index: 1;
                        width: 30%;
                        height: 32px;
                        background-color: brown;
                        border: none;
                        border-radius: 30px;
                        font-size: 1rem;
                        transition: transform 2s ease, box-shadow 0.1s ease;
                    }
                    span{
                        font-size: 1rem;
                    }
                }
            }

            .containerCarritoCards-content-icons {
                height: 8rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                overflow: hidden;

                ion-icon {
                    font-size: 2.5rem;
                    color: red;
                    padding-top: 25px;
                }

                .containerCarritoCards-content-icons-checkbox {
                    padding: 3px;
                    display: flex;
                    margin-right: 5px;
                    justify-content: space-between;
                }
            }
        }
    }
}

.showCarrito {
    transform: translateX(0);
}
