@charset "UTF-8";
/*-------------GLOBALES-------------------*/
  * {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/*---Particiones---*/
@import "./_entregasForm";
@import "./loginForm";
@import "./menu";
@import "./inicio"